[user]
    name = nitrocode
    email = nitrocode@users.noreply.github.com
    # signingkey
[includeIf "gitdir:~/git/work"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/git/personal/github"]
    path = ~/.gitconfig-personal-github
[includeIf "gitdir:~/git/personal/gitlab"]
    path = ~/.gitconfig-personal-gitlab
[core]
    excludesfile = ~/.gitignore_global
    # pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
# [interactive]
#     diffFilter = delta --color-only

#[mergetool "sourcetree"]
#    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
#    trustExitCode = true
#[difftool "sourcetree"]
#    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
#    path =
