# NOTE: the trailing forward slash is crucial
[includeIf "gitdir:~/git/work/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/git/personal/github/"]
    path = ~/.gitconfig-personal-github
[includeIf "gitdir:~/git/personal/gitlab/"]
    path = ~/.gitconfig-personal-gitlab
# in case the https url is used in a git clone
[url "git@github.com:"]
  insteadOf = https://github.com/
# Use the gpg program to sign commits
[gpg]
    program = gpg
# always sign commits
[commit]
    gpgsign = true
[core]
    excludesfile = ~/.gitignore_global
    # pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
# [interactive]
#     diffFilter = delta --color-only

#[mergetool "sourcetree"]
#    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
#    trustExitCode = true
#[difftool "sourcetree"]
#    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
#    path =
